.cont{
    height: 80%;
    border-radius: 10px;
    border: solid 4px black;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.input-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-top:20px;
}

.input-field{
    height: 50px;
    text-align: center;
    background-color: #DCE1EB;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.add-button{
    font-size: 20px;
    background-color: #AC485A;
    height: 50px;
    border: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Rubik',sans-serif;
}

.add-button:hover{
    background-color:  #432000;
    cursor: pointer;
}

.items-cont{
    padding: 15px;
}

ul {
    display: flex;
   flex-wrap:wrap;
   gap:10px;
   padding: 0;
}

ul li {
   font-size: 20px;
   text-align: center;
   border-radius: 10px;
   padding: 15px;
   flex-grow: 1;
   list-style: none;
   background-color: #FFFDF8;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
   user-select: none;
  
}
ul li:hover{
    background-color:#FFECC7;
}